body {
    background-color: #abf2ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#top{
    text-align: center;
    font-size: 48px;
}

.header{
    font-size: 32px;
}

.sub.header{
    font-size: 24px;
}

.dish.image{
    display: flex;
    justify-content: center;
}

.dish.image img {
    border: 2px solid black;
}

.page {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
}

.index.list {
    border: 1px solid black;
    display: block;
    margin: 10px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: antiquewhite;
}

.index.icon {
    width: 80%;
    border: 1px solid black;
    display: block;
    margin: auto;
}